/* Write your code here. */
.bg-color {
  background-image: linear-gradient(to right, #9796f0, #fbc7d4);
  min-height: 100vh;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.un-list {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
}
